<a href="https://colab.research.google.com/github/casalazara/Machine-Learning-IELE/blob/master/Reto%201/Reto_1_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Librerías a usar

In [ ]:
import pandas as pd #Manejo de los datos
from sklearn.model_selection import train_test_split #Separación de los datos
from sklearn.linear_model import LinearRegression #Modelo a usar
from sklearn.metrics import r2_score,mean_squared_error #Métricas

#Lectura del archivo

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/casalazara/Machine-Learning-IELE/master/Reto%201/Life_Expectancy_Data.csv')

In [ ]:
df.head()

       Country  Year  ... Income composition of resources  Schooling
0  Afghanistan  2015  ...                           0.479       10.1
1  Afghanistan  2014  ...                           0.476       10.0
2  Afghanistan  2013  ...                           0.470        9.9
3  Afghanistan  2012  ...                           0.463        9.8
4  Afghanistan  2011  ...                           0.454        9.5

[5 rows x 22 columns]

#Preparación de los datos

## Hot encoding columna Status
Se hace para pasar esta variable tipo object (String) a tipo numérica binaria añadiendo dos columnas con los dos valores posibles de esta variable

In [ ]:
status = pd.get_dummies(df.Status)
status.head()

   Developed  Developing
0          0           1
1          0           1
2          0           1
3          0           1
4          0           1

## Unión con un DataFrame auxiliar y eliminación de la columnas columnas Status y Country
Se añaden las dos columnas binarias creadas apartir de los valores de la columna Status y se elimina la columna Status y Country pues necesitamos variables numéricas.

In [ ]:
aux = pd.concat([df, status], axis=1) #Combinación de los dos df, el auxiliar creado previamente y el cargado.

In [ ]:
aux.drop(columns=['Status','Country'],inplace=True)
aux

      Year  Life expectancy   Adult Mortality  ...  Schooling  Developed  Developing
0     2015              65.0            263.0  ...       10.1          0           1
1     2014              59.9            271.0  ...       10.0          0           1
2     2013              59.9            268.0  ...        9.9          0           1
3     2012              59.5            272.0  ...        9.8          0           1
4     2011              59.2            275.0  ...        9.5          0           1
...    ...               ...              ...  ...        ...        ...         ...
2933  2004              44.3            723.0  ...        9.2          0           1
2934  2003              44.5            715.0  ...        9.5          0           1
2935  2002              44.8             73.0  ...       10.0          0           1
2936  2001              45.3            686.0  ...        9.8          0           1
2937  2000              46.0            665.0  ...        9.8          0           1

[2938 rows x 22 columns]

In [ ]:
aux.columns

Index(['Year', 'Life expectancy ', 'Adult Mortality', 'infant deaths',
       'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',
       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling',
       'Developed', 'Developing'],
      dtype='object')

##Checkeo de valores no nulos

In [ ]:
aux.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Year                             2938 non-null   int64
 1   Life expectancy                  2928 non-null   float64
 2   Adult Mortality                  2928 non-null   float64
 3   infant deaths                    2938 non-null   int64
 4   Alcohol                          2744 non-null   float64
 5   percentage expenditure           2938 non-null   float64
 6   Hepatitis B                      2385 non-null   float64
 7   Measles                          2938 non-null   int64
 8    BMI                             2904 non-null   float64
 9   under-five deaths                2938 non-null   int64
 10  Polio                            2919 non-null   float64
 11  Total expenditure                2712 non-null   float64
 12  Diphtheria                       2919 non-null   float64
 13   HIV/AIDS                        2938 non-null   float64
 14  GDP                              2490 non-null   float64
 15  Population                       2286 non-null   float64
 16   thinness  1-19 years            2904 non-null   float64
 17   thinness 5-9 years              2904 non-null   float64
 18  Income composition of resources  2771 non-null   float64
 19  Schooling                        2775 non-null   float64
 20  Developed                        2938 non-null   uint8
 21  Developing                       2938 non-null   uint8
dtypes: float64(16), int64(4), uint8(2)
memory usage: 464.9 KB

Parece que no hay demasiados valores no numéricos. Sin embargo, los que hay pueden afectar el desempeño del modelo por lo que van a ser llenados por la media de cada columna ya que si se eliminan, se irían apróximadamente 1289 filas, una gran cantidad. Lo que haremos es tener en cuenta estas columnas con valores vacíos para los modelos que vamos a implementar y por ahora llenarlas con la media.

In [ ]:
aux.fillna(aux.mean(),inplace=True)
aux.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Year                             2938 non-null   int64
 1   Life expectancy                  2938 non-null   float64
 2   Adult Mortality                  2938 non-null   float64
 3   infant deaths                    2938 non-null   int64
 4   Alcohol                          2938 non-null   float64
 5   percentage expenditure           2938 non-null   float64
 6   Hepatitis B                      2938 non-null   float64
 7   Measles                          2938 non-null   int64
 8    BMI                             2938 non-null   float64
 9   under-five deaths                2938 non-null   int64
 10  Polio                            2938 non-null   float64
 11  Total expenditure                2938 non-null   float64
 12  Diphtheria                       2938 non-null   float64
 13   HIV/AIDS                        2938 non-null   float64
 14  GDP                              2938 non-null   float64
 15  Population                       2938 non-null   float64
 16   thinness  1-19 years            2938 non-null   float64
 17   thinness 5-9 years              2938 non-null   float64
 18  Income composition of resources  2938 non-null   float64
 19  Schooling                        2938 non-null   float64
 20  Developed                        2938 non-null   uint8
 21  Developing                       2938 non-null   uint8
dtypes: float64(16), int64(4), uint8(2)
memory usage: 464.9 KB

## Normalización de los datos
Se hace para que el rango de las variables sea el mismo (entre 0 y 1) de manera que no haya variables que influencien más que otras por el rango además que ayuda a que el algoritmo funcione un poco más rápido.

In [ ]:
for columna in aux.columns:
  aux[columna] = (aux[columna] - aux[columna].min()) / (aux[columna].max() - aux[columna].min())
aux

          Year  Life expectancy   ...  Developed  Developing
0     1.000000          0.544592  ...        0.0         1.0
1     0.933333          0.447818  ...        0.0         1.0
2     0.866667          0.447818  ...        0.0         1.0
3     0.800000          0.440228  ...        0.0         1.0
4     0.733333          0.434535  ...        0.0         1.0
...        ...               ...  ...        ...         ...
2933  0.266667          0.151803  ...        0.0         1.0
2934  0.200000          0.155598  ...        0.0         1.0
2935  0.133333          0.161290  ...        0.0         1.0
2936  0.066667          0.170778  ...        0.0         1.0
2937  0.000000          0.184061  ...        0.0         1.0

[2938 rows x 22 columns]

#Modelos

Función general para todos los modelos, allí se parte el mismo conjunto de entrenamiento y de prueba para todos los modelos ya que el parámetro random_state es el mismo siempre. Luego, se crea el modelo y se ajusta a los datos de entrenamiento y se calculan las métricas correspondientes (R2 ajustado en el conjunto de entrenamiento y mse en el conjunto de prueba)

In [ ]:
def resultados(columnas,datos,objetivo='Life expectancy '):
  X_train, X_test, y_train, y_test = train_test_split(datos[columnas], datos[objetivo], random_state=0) #Por defecto se asigna 25% al conjunto de prueba y 75% al de entrenamiento
  #Creación y ajuste del modelo de regresión lineal
  reg = LinearRegression() 
  reg.fit(X_train, y_train)
  #Predicción y cálculo de las métricas solicitadas
  #R2 Ajustado
  prediction_y_train = reg.predict(X_train)
  r_squared = r2_score(y_train,prediction_y_train)
  K = X_train.shape[1]
  n = len(X_train)
  r_squared_fitted = r_squared-((K-1)/(n-K))*(1-r_squared)
  #MSE
  prediction_y_test = reg.predict(X_test)
  mse = mean_squared_error(y_test,prediction_y_test)
  return (f'Se obtuvo un r2 ajustado de {r_squared_fitted} en el conjunto de entrenamiento y un mean squared error de {mse} en el conjunto de prueba',reg)

##Modelo 1
Este modelo tendrá en cuenta todas las columnas.

In [ ]:
objetivo = 'Life expectancy '
lista_Columnas = aux.columns.to_list()
lista_Columnas.remove(objetivo)
colM1 = lista_Columnas
columnas = lista_Columnas

###Resultados

In [ ]:
Modelo1 = resultados(columnas,aux,objetivo)
Modelo1[0]

'Se obtuvo un r2 ajustado de 0.8142303961519466 en el conjunto de entrenamiento y un mean squared error de 0.005822845021164382 en el conjunto de prueba'

##Modelo 2
Este modelo no tendrá en cuenta las columnas:
1. Alcohol
2. Hepatitis B
3. BMI
4. Total expenditure
5. GDP
6. Population
7. thinness  1-19 years
8. thinness 5-9 years
9. Income composition of resources
10. Schooling

Pues son las 10 más vacías de las que llenamos con la media previamente.

In [ ]:
objetivo = 'Life expectancy '
lista_Columnas = aux.columns.to_list()
lista_Columnas.remove(objetivo)
a_remover = ['Alcohol','Hepatitis B',' BMI ','Total expenditure','GDP','Population',' thinness  1-19 years',' thinness 5-9 years','Income composition of resources', 'Schooling']
lista_Columnas = [x for x in lista_Columnas if x not in a_remover]
colM2 = lista_Columnas

columnas = lista_Columnas

###Resultados

In [ ]:
Modelo2 = resultados(columnas,aux,objetivo)
Modelo2[0]

'Se obtuvo un r2 ajustado de 0.7297738180169392 en el conjunto de entrenamiento y un mean squared error de 0.009385997777545074 en el conjunto de prueba'

##Modelo 3
Este modelo no tendrá en cuenta las columnas:

1. Income composition of resources
2. GDP
3. Total expenditure
4. Hepatitis B
5. Alcohol
6. Population
7. Schooling

Pues previamente contaban con una gran cantidad de valores nulos.

In [ ]:
objetivo = 'Life expectancy '
lista_Columnas = aux.columns.to_list()
lista_Columnas.remove(objetivo)
a_remover = ['Income composition of resources','GDP','Total expenditure','Hepatitis B','Alcohol','Population','Schooling']
lista_Columnas = [x for x in lista_Columnas if x not in a_remover]
colM3 = lista_Columnas

columnas = lista_Columnas

###Resultados

In [ ]:
Modelo3 = resultados(columnas,aux,objetivo)
Modelo3[0]

'Se obtuvo un r2 ajustado de 0.7643632137598634 en el conjunto de entrenamiento y un mean squared error de 0.008222205570559008 en el conjunto de prueba'

#Variable de mayor afectación

## Pesos de todas las variables
Dado que el modelo 1 fue el que mejor r2 ajustado y mse tuvo este será tomado como el modelo de referencia para identificar la variable de mayor afectación, a continuación emparejaremos las variables con los pesos que el modelo les asignó y las ordenaremos descendentemente.

In [ ]:
parejas = list(zip(colM1,Modelo1[1].coef_))
parejas.sort(key=lambda x:x[1],reverse=True)
parejas

[('infant deaths', 3.391790801562926),
 ('Schooling', 0.22344196366163807),
 ('Income composition of resources', 0.11254823371245773),
 ('GDP', 0.08789125244828759),
 (' BMI ', 0.07951091370471196),
 ('Diphtheria ', 0.07084676531183802),
 ('Polio', 0.05819857839541722),
 ('Total expenditure', 0.04017070069564396),
 ('Population', 0.023720944656703866),
 ('percentage expenditure', 0.02248923572642583),
 (' thinness 5-9 years', 0.018361479206929838),
 ('Alcohol', 0.017362200596462336),
 ('Developed', 0.014932698247758482),
 ('Year', -0.004192615434181024),
 ('Developing', -0.014932698247760279),
 ('Hepatitis B', -0.026916999546542305),
 (' thinness  1-19 years', -0.05285170334080163),
 ('Measles ', -0.09220403948606884),
 ('Adult Mortality', -0.27221021593181166),
 (' HIV/AIDS', -0.4320584503230993),
 ('under-five deaths ', -3.540296098243306)]

## Peso de la variable de mayor afectación 
Una vez tengamos las variables ordenadas descendentemente compararemos los valores absolutos de la variable de mayor peso y la de menor peso para identificar cuál es la de mayor afectación

In [ ]:
mas_pesada = parejas[0] if abs(parejas[0][1]) > abs(parejas[-1][1]) else parejas[-1]
mas_pesada

('under-five deaths ', -3.540296098243306)

Encontramos que la variable de mayor afectación son la cantidad de muertes de niños menores de 5 años con un peso negativo bastante grande en valor absoluto. Sin embargo analizando los pesos de las demás variables vemos que su valor absoluto está entre 0 y 1 y solo hay 2 que tienen un valor absoluto mayor a 3, ambas están relacionadas estrechamente con la mortandad infantil por lo que podríamos decir que la esperanza de vida de un país está fuertemente ligada a la mortandad infantil.